<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    post list
    <nav>
        butter nose
    </nav>
    <ul>
        {% for post in posts %}
            <a href="/posts/detail/">{{post.title}}</a>
            {{post.name}}
            {{post.content}}

            <li>
                {% for comment in post.comment_set.all %}
                    연결글: {{comment.post}}
                    작성댓글: {{comment.comment}}
                    <hr>
                {% endfor %}
            </li>
            {% if post.thumbnail %}
            <img src="{{post.thumbnail.url}}" alt="">
            {% else %}

            {% endif %}
            
        {% endfor %}
    </ul>
    
    

    
</body>
</html>